@charset "UTF-8";
/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

/* Menu */
header {
    height: 212px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #0B0A0D;
}

.menu_row {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 50px;
    width: 42px;
}

.logo img {
    max-height: 50px;
    max-width: 42px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 212px;
    width: 440px;
    height: 64;
}

.menu_point {
    padding: 0;
}

.menu_point_button {
    background-color: #0B0A0D;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 64px;
    width: 64px;
    padding: 0;
}

.menu_point_button:hover {
    color: #75FF72;
    transition: color 0.5s;
    border-bottom: 3px solid white;
}

.modal {
    display: none;
}

.modal_active {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 426px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.556);
    display: flex;
    z-index: 1;
    height: 3000px;
}

.open {
    opacity: 1;
}

.sub_menu_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 139px;
    background-color: #0B0A0D;
    max-height: 288px;
    padding-top: 72px;
    padding-left: 362px;
    padding-bottom: 57px;
    display: none;
    z-index: 1;
}

.sub_menu_container .sub_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 159px;
}

.sub_menu_container .sub_menu li {
    margin-bottom: 29px;
    margin-right: 142px;
    list-style-type: none;
}

.menu_point:hover .menu_point_button {
    border-bottom: 3px solid white;
}

.sub_menu_active {
    display: flex;
}

.sub_menu_name {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: "M PLUS 1p", sans-serif;
}

.sub_menu_name:hover {
    color: #75FF72;
    transition: color 0.5s;
}

.mob_menu {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 36px;
    height: 24px;
}

.mob_menu .lines {
    height: 3px;
    width: 100%;
    background-color: white;
}

.mob_menu::before, .mob_menu::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    transition: all 0.4s ease 0s;
}

.mob_menu::before {
    top: 0;
    width: 100%;
}

.mob_menu::after {
    bottom: 0;
    width: 50%;
    right: 0;
}

.mob_menu.active .lines {
    transform: scale(0);
}

.mob_menu.active::before {
    top: 50%;
    left: 4%;
    transform: rotate(-45deg) translate(0, -50%);
}

.mob_menu.active::after {
    bottom: 35%;
    width: 100%;
    transform: rotate(45deg) translate(0, -50%);
}

.open {
    display: flex !important;
}

@media (max-width: 450px) {
    header {
        height: 150px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .container .menu_row {
        display: flex;
        justify-content: space-between;
    }

    .mob_menu {
        display: flex;
    }

    .menu {
        position: absolute;
        justify-self: normal;
        display: none;
        flex-direction: column;
        row-gap: 40px;
        width: 78%;
        min-height: 644px;
        background-color: #0B0A0D;
        z-index: 20;
        margin-top: 500px;
        margin-left: 22%;
        justify-content: normal;
        padding-top: 120px;
        padding-left: 20%;
    }

    .menu .menu_point_button {
        padding: 0;
        height: 24px;
    }

    .menu .sub_menu_container {
        position: static;
        left: 0;
        right: 0;
        background-color: #0b0a0d;
        max-height: 100%;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        display: flex;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .menu .sub_menu_container .sub_menu {
        display: block;
        max-height: 100%;
        padding-left: 30px;
    }

    .menu .sub_menu_container .sub_menu li {
        width: 100%;
        max-height: 21px;
    }

    .menu .sub_menu_container .sub_menu .last {
        margin-bottom: 0;
    }
}
/* Slider */
/* Стрелка влево */
.slick-arrow.slick-prev {
    overflow: hidden;
    left: 40%;
    border: none;
    outline: none;
    background: url("/assets/img/left.svg") 0 0 no-repeat;
    width: 105px;
    height: 40px;
}

.slick-arrow.slick-prev:hover {
    color: #75FF72;
    transition: color 0.5s;
    background: url("/assets/img/lefthover.svg") 0 0 no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 40%;
    border: none;
    outline: none;
    background: url("/assets/img/right.svg") 0 0 no-repeat;
    width: 105px;
    height: 40px;
}

.slick-arrow.slick-next:hover {
    background: url("/assets/img/righthover.svg") 0 0 no-repeat;
}

.slider__item {
    text-align: center;
    border-radius: 6px;
}

.slider__item img {
    border-radius: 6px;
}

.slider__item .slide_header {
    font-size: 80px;
    font-weight: 500;
    overflow: auto;
    color: white;
    position: absolute;
    margin-left: 50px;
    margin-top: 406px;
    text-align: left;
}

.slider__item .slide_info {
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
    color: white;
    position: absolute;
    margin-left: 50px;
    margin-top: 512px;
    max-width: 524px;
    text-align: left;
}

.wrapper {
    padding-top: 212px;
}

.slider {
    position: relative;
}

.slider .slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-list {
    overflow: hidden;
}

.slider .slick-arrow {
    position: absolute;
    top: 705px;
    z-index: 10;
    font-size: 0px;
    display: flex;
    justify-content: space-between;
}

.slider #slide1 {
    margin-right: 10px;
    margin-left: 10px;
}

.slider #slide2 {
    margin-right: 10px;
    margin-left: 10px;
}

.slider #slide3 {
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 450px) {
    .wrapper {
        position: static;
        margin-bottom: 140px;
        padding-top: 150px;
    }

    .wrapper .slider .slick-arrow {
        position: absolute;
        top: 490px;
        z-index: 10;
    }

    .wrapper .slider .slick-next {
        left: 175px;
    }

    .wrapper .slider .slick-prev {
        left: 45px;
    }

    .wrapper .slider .slider__item .slide_header {
        font-size: 40px;
        font-weight: 500;
        margin-top: 206px;
        height: 60px;
        margin-left: 20px;
    }

    .wrapper .slider .slider__item .slide_info {
        font-size: 16px;
        font-weight: 400;
        margin-top: 291px;
        max-width: 250px;
        margin-left: 20px;
        padding-left: 10px;
    }

    .wrapper .slider .slider__item img {
        border-radius: 6px;
    }
}
/* FAQ */
.faq {
    position: absolute;
    display: flex;
    width: 1240px;
    top: 1107px;
    color: white;
    background-color: #0B0A0D;
}

.faq .faq_header {
    max-height: 85px;
    font-size: 80px;
    font-weight: 500;
}

.faq .accordion {
    margin-top: 15px;
    margin-left: 100px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    width: 100%;
}

.faq .accordion_header {
    font-size: 24px;
}

.accordion_item {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    padding-top: 30px;
}

.accordion_body {
    transition: 0.3s ease-in-out;
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    margin-top: 30px;
}

@media (max-width: 450px) {
    .faq {
        position: static;
        width: 290px;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .faq .faq_header {
        font-size: 40px;
        margin: 12px 0 12px 0;
    }

    .faq .accordion {
        margin-top: 20px;
        margin-left: 0;
    }

    .faq .accordion .accordion_item .accordion_header {
        font-size: 24px;
    }

    .faq .accordion .accordion_item .accordion_body {
        font-size: 16px;
        margin-top: 20px;
    }
}
/* News */
.news {
    position: absolute;
    color: white;
    background-color: #0B0A0D;
    top: 1570px;
    padding-bottom: 110px;
    width: 100%;
}

.news .news_container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.news .news_header {
    max-height: 85px;
    font-size: 80px;
    font-weight: 500;
}

.news .news_content {
    display: flex;
    flex-wrap: wrap;
}

.news .news_content .news_content_card {
    flex-wrap: wrap;
    max-width: 400px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}

.news .news_content .news_content_card .card_info {
    display: flex;
    flex-direction: column;
}

.news .news_content .news_content_card .card_info .card_info_header {
    margin-top: 30px;
}

.news .news_content .news_content_card .card_info .card_info_text {
    padding-top: 10px;
}

.news .news_content .card_info_text {
    padding-top: 10px;
}

@media (max-width: 450px) {
    .news {
        position: static;
        padding-left: 15px;
        padding-right: 0;
        width: 100%;
        padding-bottom: 80px;
    }

    .news .slick-list {
        overflow: hidden;
    }

    .news .news_header {
        font-size: 40px;
        margin: 12px 0;
    }

    .news .news_content {
        flex-wrap: nowrap;
    }

    .news .news_content .news_content_card {
        margin-top: 20px;
        width: 200px;
    }

    .news .news_content .news_content_card img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 200px;
        height: 264px;
    }

    .news .news_content .news_content_card .card_info .card_info_header {
        font-size: 16px;
    }

    .news .news_content .news_content_card .card_info .card_info_text {
        font-size: 14px;
        padding-right: 11px;
        width: 200px;
    }

    .news .slick-track {
        display: flex;
        align-items: flex-start;
    }

    .news .slick-list {
        overflow: hidden;
    }
}
/* Input */
.input {
    position: absolute;
    width: 100%;
    top: 2584px;
    color: #0B0A0D;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.input .input_container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.input .input_container .input_header {
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 20px;
}

.input .input_container .input_info {
    font-size: 16px;
    max-width: 400px;
}

.input .input_container .input_form {
    display: flex;
    max-width: 820px;
    max-height: 180px;
    padding-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.input .input_container .input_form .mask {
    padding: 14px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.3568627451);
    margin-bottom: 20px;
    margin-right: 20px;
    height: 50px;
    font-size: 14px;
    width: 400px;
    color: rgba(0, 0, 0, 0.5764705882);
    font-family: "Mplus 1p", sans-serif;
}

.input .input_container .input_button {
    background-color: white;
    padding: 14px 20px 16px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.3568627451);
}

.input .input_container .input_button:hover {
    background-color: #75FF72;
    border-color: #75FF72;
}

@media (max-width: 450px) {
    .input {
        position: static;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .input .input_container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .input .input_container .input_header {
        margin: 20px 0;
        font-size: 40px;
    }

    .input .input_container .input_info {
        font-size: 16px;
    }

    .input .input_container .input_form {
        display: flex;
        max-height: 290px;
    }

    .input .input_container .input_form .mask {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
    }

    .input .input_container .input_button {
        font-size: 14px;
        padding: 13px 20px 13px;
    }
}
/* Footer */
footer {
    position: absolute;
    top: 3034px;
    width: 100%;
    background-color: #312F35;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 80px;
    color: white;
}

footer .footer_container {
    max-height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .footer_container .footer_info {
    margin-bottom: 25px;
    max-width: 400px;
}

footer .footer_container .footer_info .footer_text_header {
    margin-bottom: 10px;
}

footer .footer_container .footer_link a {
    color: white;
}

footer .footer_container .footer_icons {
    display: flex;
    align-items: center;
}

footer .footer_container .footer_icons .footer_icon {
    margin-right: 30px;
}

@media (max-width: 450px) {
    footer {
        position: static;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 170px;
    }

    footer .container .footer_container {
        display: block;
    }

    footer .container .footer_container .footer_info .footer_text_header {
        font-size: 16px;
    }

    footer .container .footer_container .footer_info .footer_text_info {
        font-size: 14px;
    }

    footer .container .footer_container .footer_link .link {
        font-size: 14px;
    }

    footer .container .footer_container .footer_icons {
        margin-left: auto;
        margin-right: auto;
        max-width: 202px;
        margin-top: 40px;
    }
}

body {
    font-family: "M PLUS 1p", sans-serif;
    background-color: #0B0A0D;
    font-style: normal;
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

@media (max-width: 450px) {
    .container:not(.news) {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}